.house-detail-body {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

.image-and-info {
    display: flex;
}

.image-display {
    display: flex;
    /* flex-direction: column; */
    overflow: scroll;
    width: 70%;
    height: 600px;
    border: 1px solid none;
}

.first-house-image {
    margin-right: 5px;
}

.house-image {
    margin-right: 5px;
    margin-bottom: 3px;
}

.info-and-tour {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 600px;
    border: 1px solid none;
}

.house-detail-info {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    width: 100%;
    height: 300px;
    border: 1px solid none;
}

.schedule-tour {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    width: 100%;
    height: 300px;
    border: 1px solid none;
}

.tour-button {
    width: 200px;
    height: 30px;
    border: 1px solid black;
    background-color: black;
    color: white;
    font-weight: 800;
}

.full-address {
    display: flex;
    margin-top: -20px;
}

.house-detail-address, .house-detail-city, .house-detail-state, .house-detail-zip {
    margin-right: 5px;
    font-weight: 800;
    font-size: 17px;
} 

.house-detail-price {
    margin-right: 5%;
}

.beds-bath-ft {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.extra-white {
    width: 100%;
    height: 200px;
    background-color: white;
}

.description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
    background-color: whitesmoke;
}

.description {
    /* text-align: center; */
    font-size: 15px;
    font-weight: 600;
    width: 80%;
    font-size: 20px;
}

@media (max-width:400px) {
    .image-and-info {
        display: flex;
        flex-direction: column;
    }
    .image-display {
        display: flex;
        flex-direction: column;
        overflow: scroll;
        width: 100%;
        height: 600px;
        border: 1px solid none;
    }
    .house-image {
        height: 300px;
    }
    .info-and-tour {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 500px;
        border: 1px solid none;
    }
    
    .extra-white {
        width: 100%;
        height: 200px;
        background-color: whitesmoke;
        display: flex;
        align-items: center;
    }
    .description {
        margin-top: -200px;
        font-size: 13px;
    }
    .house-detail-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 0px;
    }
    
    .schedule-tour {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
        height: 200px;
    }
}